*{
margin:0;
padding:0;
font-family: sans-serif;
}

body{
background:#f4fff4;
}

.header{
background:#2e7d32;
color:#fff;
padding:20px;
display:flex;
justify-content:space-between;
align-items:center;
}

.header a{
color:#fff;
text-decoration:none;
margin-left:20px;
}


.hero{
height:300px;
background:
linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),
url("images/money.png");
background-size:cover;
background-position:center;
background-repeat:no-repeat;
text-align:center;
color:white;
padding-top:80px;
 height:300px;
width:100%;
object-fit:cover;     
}


.hero h2{
font-size:42px;
}


.title{
text-align:center;
margin:40px 0;
}


.grid{
display:grid;
grid-template-columns:repeat(auto-fit,250px);
justify-content:center;
gap:30px;
padding:20px;
}


.card{
background:white;
border-radius:15px;
box-shadow:0 4px 10px rgba(0,0,0,.15);
transition:.3s;
overflow:hidden;
}


.card:hover{
transform:translateY(-10px);
}


.card img{
width:100%;
height:200px;
object-fit:cover;
}


.card h3{
padding:10px;
text-align:center;
}
.card p{
    font-size: 16px;
    color:#2e7d32;
    font-weight: bold;
    margin: 5px 0;
    text-align:center;
}
.card button{
  display:block;
  margin:12px auto;
  padding:10px 20px;
  background:#2e7d32;
  color:white;
  border:none;
  border-radius:8px;
  cursor:pointer;
}

.card button:hover{
  background:#1b5e20;
}


footer{
background:#1b5e20;
color:white;
text-align:center;
padding:15px;
margin-top:40px;
}
